/* .holder {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}
/* ul {
  list-style-type: none;
}
ul li {
  overflow: hidden;
  margin: 0 0 20px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px;
}
ul li:last-child {
  margin: 0;
} */
/* img {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
 }
span {
  display: block;
  width: 100%;
  font-weight: bolder;
} 
span.phone {
  font-weight: normal;
  font-style: italic;
  color: #999;
} */
