.hover\:bg-red-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}

:root {
  --color-primary: #fc5185;
  --color-secondary: #3fc1c9;
  --color-charlie: #364f6b;
  --color-offwhite: #f5f5f5;
  --color-alpha: #e82953;
  --color-beta: #00838f;
  --color-lightalpha: #e05a77;
  --color-lightbeta: #a4eef5;
}

.bg-primary {
  background-color: #fc5185;
}

.bg-secondary {
  background-color: #3fc1c9;
}

.bg-charlie {
  background-color: #364f6b;
}

.bg-light-alpha {
  background-color: #ec98aa;
}

.bg-offwhite {
  background-color: #f5f5f5;
}

.bg-gamma {
  background-color: #f43939;
}

.bg-beta {
  background-color: #00838f;
}

.bg-lightbeta {
  background-color: #a4eef5;
}

.bg-lightalpha {
  background-color: #e05a77;
}

.bg-footer {
  background-color: #343840;
}

.bg-back {
  color: #750c0c;
}

.bg-lightbeta {
  background-color: #a4eef5;
}

/* changed rgb(199, 36, 71); to #e82953*/

.bg-alpha {
  background-color: #e82953;
}

.hover\:bg-alpha:hover {
  background-color: #e82953;
}

.hover\:bg-white:hover {
  background-color: #fff;
}

.hover\:bg-black:hover {
  background-color: #000;
}

.hover\:bg-beta:hover {
  background-color: #00838f;
}

.hover\:bg-offwhite:hover {
  background-color: #f5f5f5;
}

.hover\:bg-light-alpha:hover {
  background-color: #ec98aa;
}

.hover\:bg-dark-alpha:hover {
  background-color: #df1844;
}

.active\:bg-lightbeta:active {
  background-color: #68d6e0;
}

.active\:bg-superlightbeta:active {
  background-color: #97dde4;
  color: white !important;
}

.active\:text-white:active {
  color: white;
}

.active\:bg-offwhite:active {
  background-color: var(--color-offwhite);
}

.hover\:bg-lightbeta:hover {
  background-color: #50b5be;
}

.active\:bg-lightalpha:active {
  background-color: #cc536e;
}

.text-gray {
  color: #343840;
}

.text-gray-300 {
  color: white;
}

.text-yellow {
  color: rgb(226, 226, 83);
}

.text-purple-500 {
  color: #8b5cf6;
}

.text-alpha {
  color: rgb(199, 36, 71);
}

.text-beta {
  color: var(--color-beta);
}
.text-offwhite {
  color: rgb(243, 235, 235);
}

.text-light-black {
  color: #111;
}

.hover\:text-yellow:hover {
  color: rgb(226, 226, 83);
}

.hover\:text-black:hover {
  color: black;
}

.hover\:text-offwhite:hover {
  color: #f5f5f5;
}

.hover\:text-lightbeta:hover {
  color: #50b5be;
}

.hover\:text-extrabeta:hover {
  color: #33b4c0;
}

.hover\:text-lightwhite:hover {
  color: #c2c2c2;
}

.hover\:text-beta:hover {
  color: var(--color-beta);
}

.hover\:text-alpha:hover {
  color: rgb(199, 36, 71);
}

.border-black {
  border-color: #000;
}

.border-white {
  border-color: #fff;
}

.border-l {
  border-left: 1px solid;
}

.border-alpha {
  border-color: rgb(199, 36, 71);
}

.hover\:border-black:hover {
  border: 1px solid #000;
}

.focus\:border-lightbeta:focus {
  border-color: #50b5be;
}

.hover\:border-lightbeta:hover {
  border: 1px solid #50b5be !important;
}

.hover\:border-beta:hover {
  border: 1px solid #00838f;
}

.hover\:border-alpha:hover {
  border-color: rgb(199, 36, 71);
}

.border-2-b {
  border-bottom: 2px solid #e82953;
}

.border-beta {
  border-color: #00838f;
}

.border-lightbeta {
  border-color: #50b5be;
}

.border-b {
  border-bottom-width: 1px;
}

.bg-light-black {
  background-color: #2a2f32;
}

.bg-overlay {
  background-color: rgba(14, 14, 17, 0.7);
}

.float-right {
  float: right;
}

.ho .text-beta {
  color: #00838f;
}

.club-bg {
  width: 840px;
  height: 410px;
}

.justify-evenly {
  justify-content: space-evenly;
}

.content-end {
  align-content: flex-end;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.max-w-370-px {
  max-width: 370px;
}

.leading-wide {
  line-height: 1.8;
}

.top-1 {
  top: 70%;
}

.h-28 {
  height: 500px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.mx-12 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mt-36 {
  margin-top: 12rem;
}

.text-xsm {
  font-size: 0.81rem;
}

.w-2\/3 {
  width: 66%;
}

.w-1\/3 {
  width: 33%;
}

.w-24 {
  width: 13.5rem;
}

.event-image {
  width: 850px;
  height: 420px;
}

.mx-16 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-6 {
  margin-left: 2.6rem;
  margin-right: 2.6rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mini-club-image {
  width: 60px;
  height: 60px;
}

.content-end {
  align-content: flex-end;
}

.event-side-container {
  min-width: 100px;
  max-width: 400px;
  width: 330px;
}

.text-md {
  font-size: 1.1rem;
}

.event-container {
  margin-left: 7rem;
  margin-right: 5.5rem;
}

.mt-auto {
  margin-top: auto;
}

.w-1\/4 {
  width: 27%;
}

.w-3\/4 {
  width: 77%;
}

.btn.btn-lg.btn-primary {
  background: var(--color-alpha);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  box-shadow: none !important;
  border-color: var(--color-alpha);
}

.btn.btn-lg.btn-danger {
  background: var(--color-alpha);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  box-shadow: none !important;
  border-color: var(--color-alpha);
}

.sweet-alert > h2 {
  font-size: 2rem !important;
}

.form-control {
  padding: 0.75em;
  color: #4a5568;

  position: relative;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 1rem;

  outline: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  padding-left: 2rem;
  margin-top: 1rem;
}

.focus\:form-control :focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  outline: 0;
}

.max-h-300-px {
  max-height: 300px;
}

.overwrite-success-btn {
  background-color: #26ac62 !important;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

details {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "";
  position: absolute;
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
    no-repeat 50% 50% / 1em 1em;
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.1s linear;
}

summary {
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  border-bottom: 1px solid #ccc;
}

summary:hover {
  color: #a8a8a8;
}

summary:focus {
  outline: none;
}

details[open] summary:before {
  transform: rotate(90deg);
}

details[open] > summary {
  color: var(--color-lightbeta);
}

details[open] > summary ~ * {
  animation: open 1s ease;
}

p.source {
  padding-top: 50px;
  font-size: 0.75em;
  text-align: center;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.photo-gallery-image {
  width: 250px;
  height: 140px;
}

.category-container {
  width: 250px;
  background-color: white;
  border: 1px solid #a7d5da;
  color: var(--color-beta);
}

.members-container {
  height: 565px;
  overflow-y: scroll;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0px 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
  grid-row-end: span 2;
}

.mx-5 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.bg-linkedin {
  background-color: #2867b2;
}

.bg-instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.bg-github {
  background-color: #24293e;
}

.text-linkedin {
  color: #2867b2;
}

.text-instagram {
  color: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.text-github {
  color: #24293e;
}

.category-list-header {
  color: rgb(104, 93, 93);
}

.category-list-container {
  color: #f8f9fa;
}

.search-wrapper {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: none !important;
}

.search-wrapper > span {
  background-color: var(--color-lightbeta);
  color: var(--color-beta);
  font-weight: 500;
  margin-left: 10px;
  font-size: 15px;
}

.search-wrapper > span > i {
  color: white;
}

.searchBox {
  padding: 0.4rem;
}

/* Tags style*/

.react-input-tags-tag {
  /* background-color: var(--color-lightbeta);
  color: var(--color-beta);
  cursor: pointer;

  font-size: 1rem;
  border-radius: 9999px;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0.25rem; */
  background-color: var(--color-lightbeta);
  color: var(--color-beta);
  font-weight: 500;
  margin-left: 10px;
  font-size: 15px;

  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  white-space: nowrap;
}

span.react-input-tags-tag > button {
  color: rgb(255, 255, 255);
  padding: 0.25rem;
}

.focus\:.react-input-tags-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.react-input-tags-input {
  width: 200px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.25rem;
  border-color: rgba(156, 163, 175);
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-width: 1px;
  color: rgba(55, 65, 81);
}

input.react-input-tags-input {
  width: 200px !important;
  padding-left: 0.9rem;
  padding-right: 0.75rem;
}

.py-2half {
  padding-top: 0.58rem;
  padding-bottom: 0.58rem;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/* File Page 

table,
th,
td {
  border: 2px solid #ccc;
  line-height: 3;
  color: black;
}

table {
  text-align: center;
  width: 100%;
}

tbody tr td {
  line-height: 3.5;
  padding-left: 20px;
  padding-right: 20px;
}

tbody tr:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

tbody tr td:nth-child(1) {
  color: #e82953;
  text-align: center;
} */

/* .hover\:.bg-gray-200:hover {
  background-color:#e5e7eb;
} */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.square-45 {
  width: 12rem;
  height: 12rem;
}

.h-350px {
  height: 350px;
}

.h-32 {
  height: 15rem;
}

.float-right {
  float: right;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.w-max {
  width: max-content;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-beta);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid white;
  /* creates padding around scroll thumb */
}
