.btnFacebook {
  width: 107px;
  height: 42px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 2px;
}
