@media (min-width: 640px) {
  .sm\:test {
    width: 33%;
  }
}

@media (min-width: 768px) {
  .md\:test {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .lg\:mx-28 {
    margin-left: 7rem;
    margin-right: 5.5rem;
  }
}

@media (min-width: 1024px) {
  .xl\:test {
    width: 33%;
  }
}
