@media (min-width: 640px) {
  .sm\:test {
    width: 33%;
  }
}


@media (min-width: 320px) and (max-width: 640px) {
 /* .xs\:flex-column{
  flex-direction: column;
 } */
  .xs\:text-2xl{
  font-size: 1.3rem;
 }
 .xs\:justify-center{
  justify-content: center;
 }
 .xs\:flex-col{
  flex-direction: column;
 }
 .xs\:w-full{
  width: 100%;
 }
 .xs\:block{
  display: block;
  width: 40%;
  margin-top: 10px;
 }
 .xs\:p-1{
  padding: 0.15rem;
 }
 .xs\:flex-row{
  flex-direction: row;
 }
}
@media (min-width: 640px) and (max-width: 768px) {
  .sm\:p-10 {
    padding: 2.5rem;
  }
  /* .sm\:mx-0 {
    margin-left: 0%;
    margin-right: 0%;
  } */
}

@media (min-width: 768px) {
  .md\:test {
    width: 33%;
  }
  .md\:ml-50 {
    margin-left: 16.5rem;
  }
  .md\:show {
    display: block;
  }
  .md\:mt-10 {
    margin-top: 4.8rem;
  }
}

@media (min-width: 1024px) {
  .lg\:mx-28 {
    margin-left: 7rem;
    margin-right: 5.5rem;
  }
  .lg\:ml-50 {
    margin-left: 16.5rem;
  }
  .lg\:show {
    display: block;
  }
  .lg\:mx-16 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .lg\:ml-2 {
    margin-top: 0.5rem;
  }
  .lg\:ml-0 {
    margin-left: 0rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0rem;
  }
  .lg\:minH80 {
    min-height: 80vh;
  }

  .lg\:w-10\/12 {
    width: 82%;
  }
}

@media (min-width: 1450px) {
  .xl\:test {
    width: 33%;
  }
  .xl2\:mt-4 {
    margin-top: 1rem;
  }
  .xl2\:ml-2 {
    margin-left: 0.5rem;
  }
  /* .event-image {
    width: 850px !important;
  } */
}
