<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Login With Facebook</p>
    <a href="/api/auth/facebook">Click Here</a>
  </body>
</html>
