.pagination {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.pagination li {
  float: left;
}
.pagination ul {
  float: left;
  left: 45%;
  position: relative;
}
.pagination ul > li {
  left: -60%;
  position: relative;
}
.pagination li a {
  transition: all 100ms ease-in-out 0s;
  background-color: #f7f7f8;
  border-radius: 5px 5px 5px 5px;
  color: #69696e;
  display: block;
  font: 12px/30px Arial, sans-serif;
  height: 30px;
  margin: 0 3px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 30px;
}
.pagination li a:hover {
  background-color: #e82953;
  color: #ffffff;
}
.pagination li.active a {
  background-color: #e82953;
  color: #ffffff;
}
.pagination li.active a:hover {
  color: #ffffff;
}
